:root {
  --color-base-primary: hsl(240, 38%, 20%);
  --color-base-secondary: hsl(240, 18%, 77%);

  --color-base-text: hsl(217, 12%, 63%);
  --font-size-text: 1.5rem;
}

/* --- GLOBAL RESET --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 90%;
  position: relative;
}

.testimonial-text {
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.testimonial-author {
  margin-top: 20px;
  font-weight: bold;
}

.testimonial-author span {
  font-weight: normal;
  color: var(--color-base-text);
}

.testimonial-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.testimonial-image .avatar {
  border-radius: 50%;
  max-width: 80%;
  height: auto;
  position: relative;
  z-index: 2;
}

.testimonial-image .pattern-bg {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* --- FOOTER --- */

.footer {
  margin-top: auto;
  text-align: center;
  color: var(--color-base-primary);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.footer a {
  /* color: var(--color-base-primary-green); */
  text-decoration: none;
  color: var(--color-base-primary);
}

.fa-github {
  /* color: var(--color-base-primary-green); */
  margin-left: 0.5rem;
}
